*.jl.*.cov
*.jl.cov
*.jl.mem
/docs/Manifest.toml
/docs/build/
/prelim
*local_make.jl
/src/drafts/
/docs/src/assets/misc/
/docs/src/assets/paper/
/examples/drafts/

*checkpoint.ipynb
*.ipynb_checkpoints
